

extends ../layout/index


block contenido
  div
    h1.text-3xl.my-15.text-center.font-extrabold Bienes
      sapan.font-normal Raices 
    h2.text-center.text-2xl.font-extrabold #{pagina}
    //h2.text-center.text-2xl.font-extrabold=pagina

    .mt-3.mx-auto.max-w-md
      .bg-green.py-3.px-4.shadow
        form(action="").space-y-2
          div 
            label.block.text-md.uppercase.text-gray-500.mb-3.py-3.font-bold(for="email") Tu email
            input#email.w-full.px-3.py-3.border.border-gray-300.rounded-xl.placeholder-green-400(placeholder="Tu email" type="email" name="email")
          
          input(class="w-full bg-indigo-600 hover:bg-fuchsia-700 text-white font-bold cursor-pointer py-3" type="submit" value="Enviar instrucciones" )

