extends ../layout/index


block contenido
  div
    h1.text-3xl.my-15.text-center.font-extrabold Bienes
      sapan.font-normal Raices 
    h2.text-center.text-2xl.font-extrabold #{pagina}

    p.text-xl.font-bold.text-center.my-10= mensaje   