extends ../layout/index


block contenido
  div
    h1.text-3xl.my-15.text-center.font-extrabold Bienes
      sapan.font-normal Raices 
    h2.text-center.text-2xl.font-extrabold #{pagina}
    //h2.text-center.text-2xl.font-extrabold=pagina

    a(href="/propiedades/crear" class="rounded px-10 py-2 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto  ") Publicar Propiedad
